.zoom{
    overflow: hidden;
    width: 100%;
    height: 100%;
   
    
   
    box-sizing: border-box;
}
.zoom img { 


            width: 100%;
            height: 100%;
            margin: 0;
            
            
            position: absolute;
            animation: zoom 60s ease-in-out infinite;
            animation-direction: reverse;
            
            
           
        }
@keyframes zoom{
            0% {opacity: 1;
                transform: scale(1);}
            50% {opacity: 1;
                transform: scale(1.2);}
            100% {opacity: 1;
                transform: scale(1);}}
                
.para{
    position: absolute;
    
    color:aqua;
    margin-left:30%;
    
    padding-top: 1%;
    
    width: 30%;
}
h1{
    text-align: center;
    margin-top: 19%;
}
p{
    text-align: justify;
    font-size: 190%;
    margin-top: 20%;
}
.right{
    width:35%;
    height: 50%;
    margin-left: 10%;
    position: absolute;
    margin-left: 64%;
    margin-right: 0%;
    overflow: hidden;
    padding-top: 3%;
}
.center{
    width:35%;
    height: 53%;
    margin-left: 29%;
    margin-top: 28%;
    position: absolute;
   
   
    overflow: hidden;
}
.left{
    width:30%;
    height: 50%;
    padding-top: 3%;
    position: absolute;
    margin-left: -0.5%;
   
    overflow: hidden;
    margin-top: -0.1%;
}
.inner{
    position: absolute;
    color: red;
    font-size: 160%;
    margin-top: 57%;
    margin-left: 12%;
    font-weight: bold;
}
.link{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position:absolute;
    background: linear-gradient(to right, red, green, brown, red);
    font-size: 180%;
    left: 0%;
    right: -5%;
    padding: 2%;
    margin-top: -0.6%;
}
.footer{
    position: absolute;
    background-color: chocolate;
    margin-top: 50%;
    width: 100%;
    left: 0%;
  
    margin-bottom: 20px;
}
.footer1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0.2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px; gap: 10%;
    
}

    

.footer3{ display: grid;
    grid-template-columns: 1fr;
    padding-left: 7%;
    padding-top: 4%;
    border-top: solid 1px;

}
.footer3 img{
   width: 3%;
    height: 14%;
   bottom: 1%;
    border-radius: 50%;
    overflow: hidden;
}
h2{
    margin-top: 1%;
}
.icon1 img{
    right: 50%;
    
}
.icon2 img{
    
     right: 2%;
    

}
.icon3{
    right: 98%;
    height: 20%;
}
.text{
    margin-top: -7%;
    color:aqua;
    margin-left: -3%;
}
