.p{
    font-size: 140%;

}
body{
    background: linear-gradient(to right, blue, red, green, grey, blue);
}
.row1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    
    left: 0%;
    font-size: 150%;
    gap: 1%;
    width: 100%;
    margin-top: 5% ;
    background:linear-gradient(to left, yellow, orange, violet, indigo) ;
}
.row1 img{
    width: 100%;
    height: 35%;
}
.link{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    background: linear-gradient(to right, red, green, brown, red);
    width: 100%;
    padding: 2%;
    padding-bottom: 2%;
    font-size: 180%;
    left: 0%;
    
}
.footer{
    position: absolute;
    background-color: chocolate;
    margin-top: 0%;
    width: 100%;
    left: 0.5%;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
  
}
.footer1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    
   
    
}

    

.footer3{ 
    padding-left: 7%;
    
    border-top: solid 1px;

}
.footer3 img{
   width: 3%;
    height: 14%;
   bottom: 1%;
    border-radius: 50%;
    overflow: hidden;
}
h2{
    margin-top: 1%;
}
.icon1 img{
    margin-left: 95%;
    margin-top: -6%;
}
.icon2 img{
    
     margin-left: 85%;
     margin-top: -50%;
    

}
.icon3{
    margin-left: 1%;
     margin-top: -6%;
    
}
.text{
    margin-top: -2%;
    color:aqua;
    margin-left: 3%;
}